body {
    padding: 50px;
    
    margin: auto;
    /*max-width: 1200px;*/
    /*min-width: 1200px;*/

    line-height: 130%;
    font-size: 18px;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: 400;
    color: rgb(37, 38, 40);
}

#left  { 
    float: left;  
    width: 700px;
}

#right  { 
    float: right;  
    width: 400px;
}

a {
    color: rgb(187, 39, 26);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    text-decoration-color: rgb(187, 39, 26);
}

h1, h2, h3 {
    font-family: 'Istok Web', sans-serif;
    word-spacing: -2px;
}


h1 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 50px;
}

h2 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: -10px;
}

ul {
    padding-left: 1.5em;
    padding-bottom: 20px;
}


strong {
    color: rgb(6, 129, 129);
}


/**********/
/** Tabs **/
/**********/

.tab {
  overflow: hidden;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    float: left;
    border: none;
    outline: none;
    background: white;
    cursor: pointer;
    padding: 14px 16px;
    padding-left: 0px;
    padding-right: 36px;
    color: rgb(6, 129, 129); /*rgb(108, 172, 228);*/
}

.tab-button h2 {
    font-size: 22px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    color: rgb(187, 39, 26);
}

/* Create an active/current tablink class */
.tab button.active {
    color: rgb(187, 39, 26);
}

.tab button.active h2 {
    color: rgb(187, 39, 26);
    position: relative;
    text-decoration: none;
    padding-bottom: -10px;
    border-bottom: 2px solid rgb(187, 39, 26);
    display: inline-block; /*Add this*/
    left: 50%; /*Add this*/
    transform: translate(-50%, 0); /*Add this*/
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 0px;
    border-top: none;
    padding-top: 12px;
}

/**********/
/* Images */
/**********/

.imgs-row {
    display: flex;
    flex-wrap: wrap;
}

.imgs-row a {
    color: rgb(6, 129, 129);
    text-decoration: inherit;
}

.imgs-row a:hover {
    text-decoration: underline;
    text-decoration-color: rgb(6, 129, 129);
}

#people {
	padding-top: 25px;
}

/* Create three equal columns that sits next to each other */
.img-container {
    text-align: center;
    width: 200px;
    padding-right: 45px;
    padding-bottom: 35px;
/*    padding: 0 0px;*/
}

.imgs-row {
	margin-right: -45px;
}

.imgs-row img {
    margin-top: 8px;
    vertical-align: middle;
    border-radius: 2px;
    height: 200px;
    width: 200x;
}

.imgs-row .img-name {
/*    font-family: 'Istok Web', sans-serif;*/
    font-size: 16px;
    font-weight: bolder;
    color: rgb(6, 129, 129);
    font-weight: 500;
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

.imgs-row .img-interests {
    color: dimgray;
    font-size: 14px;
    margin-bottom: 8px;
    vertical-align: middle;
    width: 100%;
}

/************/
/* Calendar */
/************/

.pbody
{
    color: gray;
}

.curr
{
    font-weight: bolder;
    color: rgb(6, 129, 129);
}

.events td
{
    font-size: 100%;
    color: #333333;
    vertical-align: top;
}

.event
{
   color: #333333;
}

.description
{
/*    white-space: pre-line;*/
/*    text-align: justify;*/
    display: block;
}

.cal:link
{
    text-decoration: none;
}

.cal:visited
{
    text-decoration: none;
}

.cal:hover
{
    text-decoration: none;
}

.cal:active
{
    text-decoration: none;
}

.time
{
    text-align: left;
    padding-right: 0.7em;
    white-space: nowrap;
}

.date
{
    text-align: left;
    padding-right: 0.5em;
    white-space: nowrap;
}

.fontsmall
{
    font-size: 85%;
}

.groupcell {
    width: 100px;
    /*vertical-align: top;*/
    padding: 0px 10px;
    border-radius: 25px;
    /*margin: 0px 3px;*/
}

.groups {
    font-weight: 400;
    display: flex;
    justify-content: center;    
    text-align: center;    
    color: white;
    padding: 5px;
    font-size: 14px;
    font-weight: 400;
    width: 200px; /*35px;*/
    height: 18px;
    line-height: 18px;
}

.algs {
    background-color: rgb(6, 129, 129);
}

.sec {
    background-color: rgb(187, 39, 26);
}

.pl {
    background-color: rgb(87, 41, 154);  /*rgb(81, 43, 148);  rgb(68, 6, 129);*/
    
}

#lr-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
}