body {
    padding: 50px;

    margin-left: 50px;
    margin-right: auto;

    max-width: 800px;
    min-width: 800px;

    line-height: 1.45em;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

#left  { 
    float: left;  
    width: 700px;
}

#right  { 
    float: right;  
    width: 400px;
}

table {
    margin-left: auto;
    margin-right: auto;
    min-width: 80%;
    max-width: 100%;
    border-collapse: collapse;
}

tr th {
    text-align: left;
    padding-left: 10px;
    border-bottom: 1px solid black;
}

td {
    text-align: left;
    padding-left: 10px;
}

a {
    color: rgb(0, 114, 206);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    text-decoration-color: rgb(0, 114, 206);
}

h1, h2, h3 {
    font-family: 'Istok Web', sans-serif;
    word-spacing: -2px;
}


h1 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 50px;
}

h2 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: -10px;
}

ul {
    padding-left: 1.5em;
    padding-bottom: 20px;
}


strong {
    color: rgb(0, 51, 160);
}


/**********/
/** Tabs **/
/**********/

.tab {
  overflow: hidden;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    float: left;
    border: none;
    outline: none;
    background: white;
    cursor: pointer;
    padding: 14px 16px;
    padding-left: 0px;
    padding-right: 36px;
    color: rgb(108, 172, 228);
}

.tab-button h2 {
    font-size: 22px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    color: rgb(0, 114, 206);
}

/* Create an active/current tablink class */
.tab button.active {
    color: rgb(0, 114, 206);
}

.tab button.active h2 {
    color: rgb(0, 114, 206);
    position: relative;
    text-decoration: none;
    padding-bottom: -10px;
    border-bottom: 2px solid rgb(0, 114, 206);
    display: inline-block; /*Add this*/
    left: 50%; /*Add this*/
    transform: translate(-50%, 0); /*Add this*/
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 0px;
    border-top: none;
    padding-top: 12px;
}

/**********/
/* Images */
/**********/

.imgs-row {
    display: flex;
    flex-wrap: wrap;
}

.imgs-row a {
    color: rgb(0, 51, 160);
    text-decoration: inherit;
}

.imgs-row a:hover {
    text-decoration: underline;
    text-decoration-color: rgb(0, 51, 160);
}

#people {
	padding-top: 25px;
}

/* Create three equal columns that sits next to each other */
.img-container {
    text-align: center;
    width: 200px;
    padding-right: 45px;
    padding-bottom: 35px;
/*    padding: 0 0px;*/
}

.imgs-row {
	margin-right: -45px;
}

.imgs-row img {
    margin-top: 8px;
    vertical-align: middle;
    border-radius: 2px;
    height: 200px;
    width: 200x;
}

.imgs-row .img-name {
/*    font-family: 'Istok Web', sans-serif;*/
    font-size: 16px;
    font-weight: bolder;
    color: rgb(0, 51, 160);
    font-weight: 500;
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

.imgs-row .img-interests {
    color: dimgray;
    font-size: 14px;
    margin-bottom: 8px;
    vertical-align: middle;
    width: 100%;
}

/************/
/* Calendar */
/************/

.pbody
{
    color: gray;
}

.curr
{
    font-weight: bolder;
    color: rgb(0, 51, 160);
}

.events td
{
    font-size: 100%;
    color: #333333;
    vertical-align: top;
}

.event
{
   color: #333333;
}

.description
{
/*    white-space: pre-line;*/
/*    text-align: justify;*/
    display: block;
}

.cal:link
{
    text-decoration: none;
}

.cal:visited
{
    text-decoration: none;
}

.cal:hover
{
    text-decoration: none;
}

.cal:active
{
    text-decoration: none;
}

.time
{
    text-align: left;
    padding-right: 0.7em;
    white-space: nowrap;
}

.date
{
    text-align: left;
    padding-right: 0.5em;
    white-space: nowrap;
}

.fontsmall
{
    font-size: 85%;
}
