body {
    background-color: #f2ece9;
    -webkit-animation-delay: 0.1s;
    -webkit-animation-name: fontfix;
    -webkit-animation-duration: 0.1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
}

@-webkit-keyframes fontfix {
    from { opacity: 1; }
    to   { opacity: 1; }
}

div#headpane {

    position:relative;
    margin-left:auto;
    margin-right:auto;
    margin-top:40px;
    color: #F2B303; /*purple #5b198f       yellow #F2B303       green #0b7fab*/
    /*font-family:Optima, Verdana, sans-serif;*/
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: medium;
    height:auto;
    /*background-color: #002668;*/
    /*border-width:4pt;*/
    /*border-style:solid;*/
    /*border-bottom:0px;*/
    /*z-index: 100;*/
    /*border-color: #002668;*/
    width: 950px;
}

div#contentpane {
    
    position:relative;
    margin-top: -10px;
    margin-left:auto;
    margin-right:auto;
    padding-bottom: 50px;
    color: #404040;
    font-family: 'Titillium Web', Arial, sans-serif;
    /*font-family: Verdana, Arial, Helvetica, sans-serif;*/
    font-size:120%;
    width:auto;
    width: 85%; /*can change to 1000, or min-width: 910px;    950px is prev*/
    background-color: #f2ece9;
    /*border-width:4pt;*/
    /*border-style:solid;*/
    /*border-color: #002668;*/
    clear: both;
    line-height: 150%;
    z-index: 1;

}

.news {
    font-weight: 700;
    /*font-family: 'Titillium Web', Arial, sans-serif;*/
    font-size: 125%
}

.attn {
    font-weight: bold;
    color: #cc1414;
}


div#pagetitle{
    
    font-size:180%;
    text-align:left;
    /*background: #002668;*/
    font-family: 'Titillium Web', Optima, Verdana, sans-serif;
    margin-top: 3%;
    /*margin-left: 10%;*/
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%; /*previously 4*/
    width: 700px;

}

.myname {
    font-size: 300%;
    margin-bottom: -5%;
    text-align: center;
    margin-top: -8%;
}

.job {
    font-size: 90%;
    text-align: center;
    color: #404040;
    line-height: 100%;
    margin-top: 1%;
    margin-bottom: 2%;
}


div#content {
    position: relative;
    top: 20px;
    margin-left:40px;
    margin-right:40px;
    width: auto;
    font-family: 'Roboto', sans-serif;
    /*font-family: 'Titillium Web', Arial, sans-serif;*/
    /*border-top: 2pt #000000 solid;
    z-index: 0;*/
}

/*div#footer {
    position: relative;
    font-family: 'Roboto', sans-serif;
    top: 20px;
    font-size:80%;
}*/

table#bottomtable {
    margin:1em;
}

td#bottomtableh {
    padding:0.25em;
}

table#applettable {
    margin-left: auto;
    margin-right: auto;
    
}

table#buttonstable {
    margin-left: auto;
    margin-right: auto;
    margin-bottom:-5px;
    
}

p {
    height: auto;
    margin: 0;
}

#content p {
    margin-bottom: 1em;
}

h1{
    color: #404040;     /*purple #5b198f       yellow #F2B303       green #0b7fab   blue 3d50bb*/
    font-family: 'Titillium Web', sans-serif;
    margin: 0% 0% 1% 0%;
}

h1 > a{
    color: #404040;
    font-family: 'Titillium Web', sans-serif;
    text-decoration: none;
    font-weight: bold;
}

h1>a:hover {
    color: #404040;
    font-family: 'Titillium Web', sans-serif;
    text-decoration: none;
    font-weight: bold;
}

h2{
    color: #404040;
    font-family: 'Titillium Web', sans-serif;
    margin: -1% 0%;
    font-size: 180%;
}

.head{
    height: 3px;
    border: #404040;    
    background-color: #404040;  /*gray #7f7f7f;*/
    margin-bottom: 20px;
}

.bar{
    height: 1px;
    border: #404040;    
    background-color: #404040;  /*gray #7f7f7f;*/
    margin-bottom: 20px;
}

.projectTitle {
    height: 5px;
    color: #F2B303;
    background-color: #F2B303;
    margin-bottom: 20px;
    border: 1px solid #F2B303;
}

#footer {
    margin: 30px 0px;
    text-align: center;
    position: fixed;
    bottom: 0px;
    z-index: 0;
    font-family: 'Titillium Web', Arial, sans-serif;
    font-size:115%;
    float: left;
    width: 100%;
    color: #404040;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#empty {
    width: 100%;
    height: 70px;
    z-index: 0;
}

#buffer {
    width: 100%;
    height: 140px;
    z-index: 0;
}

#footer .side, #footer .middle {
        display: inline-block;
        vertical-align: middle;
}
#footer .side {
        margin: 0px;
        width: 100px;
}
#footer .middle {
        margin: 0px;
        width: 60%;
        padding: 10px;
        text-align: justify;
}

/*#footer a:link, #contentpane a:link {
    color: #000000;
    text-decoration: none;
}*/

/*#footer a:visited, #contentpane a:visited {
    color: #000000;
    text-decoration: none;
}*/

#footer a:hover, #contentpane a:hover {
    color: #F2B303;
}

hr {
    color: #7f7f7f;
    height = 1px;
    /*margin-bottom: 10px;*/
}

.left {
    text-align: right;
    float: right;
    /*margin-left: 5%;*/
    margin-top: .5%;
    margin-bottom: 1%;
    font-size: 75%;
    font-family: 'Titillium Web', Arial, sans-serif;
    background-color: #000000;
    color: #f2ece9;
    line-height: 95%;
}

span.left2 {
    text-align: right;
    float: right;
    margin-left: 5%;
    margin-bottom: 1%;
    font-size: 75%;
}

.project {
    /*float: left;*/
    font-size: 175%;
    font-weight: bold;
    font-family: 'Titillium Web', Arial, sans-serif;
    background-color: #000000;
    color: #F2B303;
    padding: 5px;
}

span.project2 {
    /*float: left;*/
    font-size: 125%;
    font-weight: bold;
}

.title {
    background-color: #000000;
    color: #f2ece9;
    /*padding: 12px 12px 20px 12px;*/
    padding: 5px 5px;
    margin-bottom: 15px;
}

.abstract{
    /*clear: both;*/
    float: left;
    margin-top: -1%;
}

.link {
    color: #F2B303;
    /*float: right;*/
    text-align: center;
    /*margin-top: 10px;*/
    float: right;
}

.link a{
	/*text-transform:uppercase;*/
	font-weight: normal;
	/*letter-spacing:.1em;*/
	text-decoration:underline;
	/*font-size:.9em;*/
	/*background:transparent url(../graphics/arr.gif) left center no-repeat;*/
	/*padding-left:24px;*/
	color: #000000;
	font-family: 'Roboto', sans-serif;
}
.link a:hover{
	/*text-decoration:underline;*/
	color: #F2B303;
}

.right {
    float: right;
    margin-left: 5%;
    margin-bottom: 1%;
}

.center {
    text-align: center;
}

.border {
    border: 3pt solid #000000;
}
.r {
    float: right;
}
.l {
    float: left;
}
.section {
    font-weight: bold;
    font-size: large;
    border-top: 1px solid black;
    border-bottom: 1px solid #CCCCCC;
    margin-bottom: -10px;
}

.nospace {
    margin-top: 0px;
}

.researchimg {
    width: 200px;
    height: 200px;
    border: 2px solid black;
    display: inline-block;
    clear: left;
    margin-right: 30px;
    margin-bottom: 20px;
}

.researchimg > img {
    vertical-align: middle;
}

.descript {
    display: inline-block;
    width: 600px;
    vertical-align: top;
}

#headerimg {
    margin-right: 30px;
    /*border: 2px solid #F2B303;*/
    border: 2px solid #f2ece9;
    width: 150px;
    height: 180px;
    display: inline-block;
    margin-bottom: 10px;
    /*margin-left: 40px;*/
}

#name {
    display: inline-block;
    width: 500px;
    vertical-align: top;
}
a {
    color: #0b7fab;
    text-decoration: none;
}
/*a:visited {
    color: #C5BAD5;
    text-decoration: underline;
}*/

a:hover {
    color: #F2B303;
}

a.pdf {
    color: #F2B303;
    text-decoration: none;
}
a.pdf:hover {
    text-decoration: underline;
}

.email {
    font-family: 'Roboto', sans-serif;
    color: #404040;
    font-size: 65%;
    font-weight: normal;
    text-align: left;
    margin-left: 30px;
}

#contact {
    display: inline-block;
    width: 300px;
    margin-left: 40px;
    vertical-align: top;
    margin-top: 65px;
}

.interests {
    margin-top: 0%;
}

table ol {
    margin: 0%;
    margin-left: -1.3em;
}

.rg {
    border-collapse: collapse;
    text-align:left;
    vertical-align: top;
    width: 870px;
}

.rg table, .rg th, .rg td{
    border-bottom: 1px solid black;
    border-collapse: collapse;
    vertical-align: top;
    padding: 5px 10px;
}

.module tr, .module td, .module th{
    border-bottom: 4px double black;
    font-size: 120%;
}

.last tr, .last td{
    border-bottom: 2px solid black;
}

.break {
    color: #B4B4B4;
}

.nav {
    width: 100%;
    background-color: #222222;  /*#247E60;*/ /*#3dae88;*/
    border-color: #222222;
    color: #f2ece9;
    margin-top: -40px;
    margin-left: -8px;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 140%;
    position: fixed;
    z-index: 2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;    
    height: 58px;
}

.nav div {
    padding: 0px 5px;
}

.nav a {
    color: #f2ece9;
}

.nav a:hover {
    color: #F2B303;
}

.links {
    /*min-width: 110px;*/
}

.headname {
    font-family: 'Titillium Web', Optima, Verdana, sans-serif;
    color: #F2B303;
    font-weight: bold;
    font-size: 170%;
    /*min-width: 200px;*/
}

.navbar {
    margin: 0px auto;
}

.on {
    font-weight: bold;
    color: #f2ece9;
}

.darktoggle {
    color: #f2ece9;
    /*background-color: #222222;*/
    border-color: #222222;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: medium;
    font-size: 100%;
    background: url("../images/light-dark.png") no-repeat center center;
    width: 50px;
    height: 50px;    
}

.darktoggle:hover {
    color: #F2B303;
}

.lightdark {
    position: fixed;
    right: 37px;
    top: 88px;
    z-index: 2;
}

#logo {
    height: 19pt;
    margin-right: 5px;
    margin-left: 5px;
}

.session {
    font-size: 80%;
}    